<p id="notice"><%= notice %></p>

<p>
  <b>Sentence:</b>
  <%= @question.sentence %>
</p>

<p>
  <b>Date:</b>
  <%= @question.created_at.hour %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
