<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @survey.name %>
</p>

<table>
  <tr>
    <th>Sentence</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @survey.questions.each do |question| %>
  <tr>
    <td><%= question.sentence %></td>
    <td><%= question.survey %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>
<%= link_to 'Submit your answers', new_survey_submission_path(@survey) %>
